html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit.woff2') format('woff2'),
    url('../fonts/Larsseit.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Larsseit';
  src: url('../fonts/Larsseit-Medium.woff2') format('woff2'),
    url('../fonts/Larsseit-Medium.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
